/*
Colors used:
(light green): #EFF5EE;
(medium green): #C1DFC4:
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0d3120;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.602em;
  font-weight: 700;
}

h2 {
  font-size: 1.424em;
  font-weight: 700;
}

h3 {
  font-size: 1.424em;
  font-weight: 600;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img { width: 100%; }

a {
  color: #0d3120;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #7fb19b;
}

a:focus {
  color: #fff;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0d3120;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  margin: 25px 0;
  border-radius: 3px;
  border-bottom: 2px solid #7fb19b; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #0d3120;
  text-transform: uppercase;
  border: 2px solid #0d3120;
  margin: 25px 0;
}

.button.contact:hover {
  background-color: #0d3120;
  color: #fff;
}

.button.resume {
  background-color: transparent;
  color: #0d3120;
  text-transform: uppercase;
  border: 2px solid #0d3120;
}

.button.resume:hover {
  background-color: #0d3120;
  color: #fff;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

#work .row {
  border-bottom: 1px solid #4a4a4a;
}

.center {
  text-align: center;
}

#hero h1 {
  text-align: center;
}

#work h2 {
  text-align: center;
}

#contact {
  background-color: #def2eb;
  padding: 25px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo {
  max-width: 150px;
  text-align: center;
}

header {
  width: 100%;
  background-color: #def2eb;
  padding: 10px 0;
  border-bottom: 2px solid #def2eb;
  position: fixed;
  -webkit-box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.39);
  -moz-box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.39);
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.39);
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  display: inline-block;
  padding: 0 7px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:hover {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:focus {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3b6f9c;
}

nav > ul > li > a:active {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #4a4a4a;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #def2eb;
  padding: 60px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 60px;
}

#footer {
  padding-top: 25px;
  padding-bottom: 15px;
}

.social svg {
  width: 100px;
  max-width: 40px;
  height: 40px;
}

#about.row {
  background-color: #def2eb;
  padding: 60px 0;
  display: inline-block;
  width: 100%;
}

#about-page h1 {
  text-align: center;
}

#mystory h2 {
  text-align: center;
}

#skillstools h2 {
  text-align: center;
}

#endpanel h2 {
  text-align: center;
}

#endpanel {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

/* Animation
*/

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*
 Medium devices (640px and larger)
  */
@media only screen and (min-width: 640px) {
  .logo {
    max-width: 250px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul > li {
    display: inline-block;
    margin: 1em 0;
  }

  main {
    padding-top: 95px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-right: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #work h2 {
    text-align: unset;
  }

  #about-page h1 {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #mystory h2 {
    text-align: unset;
    padding: 20px 0 13px;
  }
}

/*
Large devices (1024px or larger)
*/
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding-right: 40px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h1 {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #mystory h2 {
    text-align: unset;
    padding: 40px 0 13px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 18px; /* Sets the font size to 16px */
  }
}

/*
X-large devices (1440px or larger)
 */

.col-lg-7 {
  width: 58.33%;
}

.col-lg-5 {
  width: 41.66%;
}

@media only screen and (min-width: 1440px) {
  body {
    font-size: 18px; /* Sets the font size to 16px */
  }
}
