/*
Colors used:
(light green): #EFF5EE;
(medium green): #C1DFC4:
*/

*{
  box-sizing: border-box;
}

  body{
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 400 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #0D3120;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.602em;
  font-weight: 700;
}

h2 {
  font-size: 1.424em;
  font-weight: 700;
}

h3 {
  font-size: 1.424em;
  font-weight: 600;
}
h4 {
  font-size: 1.00em;
  font-weight: 400;
}

img{width: 100%;}

a {
  color: #0D3120;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #7FB19B;
}

a:focus {
  color: #ffffff;
  text-decoration: underline;
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0D3120;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding:10px;
  margin:25px 0;
  border-radius: 3px;
  border-bottom: 2px solid #7FB19B; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #0D3120;
  text-transform: uppercase;
  border: 2px solid #0D3120;
  margin: 25px 0;
}
.button.contact:hover {
  background-color: #0D3120;
  color: #ffffff;
}
.button.resume {
  background-color: transparent;
  color: #0D3120;
  text-transform: uppercase;
  border: 2px solid #0D3120;
}
.button.resume:hover {
  background-color: #0D3120;
  color: #ffffff;
}

/* Layout styling */

.container{
  padding: 0 15px;
}



#work .row {

    border-bottom: 1px solid #4a4a4a;
 }

 .center {
   text-align: center;
 }

 #hero h1{
   text-align: center;
 }

 #work h2{
   text-align: center;
 }

#contact{
  background-color: #def2eb;
  padding: 25px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

 .logo {
   max-width: 250px;
 }

 header {
   width: 100%;
   background-color: #def2eb;
   text-align: center;
   padding: 10px 0;
   border-bottom: 2px solid #def2eb;
   position: fixed;
   -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.39);
-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.39);
box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.39);

 }

 nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:hover {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:focus {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:active {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #def2eb;
  padding: 60px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

#footer {
  padding-top: 25px;
  padding-bottom: 15px;
}

.social svg {
  width: 100px;
  max-width: 40px;
  height: 40px;
}

#about.row {
  background-color: #def2eb;
  padding: 60px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 180px;
}

#about-page h1{
  text-align: center;
}

#mystory h2{
  text-align: center;
}

#skillstools h2{
  text-align: center;
}




#endpanel h2{
  text-align: center;
}

#endpanel {
   padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
 }

 [class*="col-"] {
   float: left;
   padding:0 10px;
 }

 .row::after {
  content: "";
  clear: both;
  display: table;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}


 /* ==============================
 Medium devices (640px and larger)
 ================================= */
 @media only screen and (min-width: 640px) {


header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 133px;
  }

  .col-md-6 {
  width: 50%;
}

#about-page h3{
  text-align: unset;
   margin-top: 0;
}

}

 }

 /* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
  width: 58.33%;
  }
  .col-lg-5 {
  width: 41.66%;
  }


  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 18px; /* Sets the font size to 16px */
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  body {
    font-size: 18px; /* Sets the font size to 16px */
  }

}
