/*
Colors used:
(light green): #EFF5EE;
(medium green): #C1DFC4:
*/

  body{
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #0D3120;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.602em;
  font-weight: 700;
}

h2 {
  font-size: 1.424em;
  font-weight: 700;
}

h3 {
  font-size: 1.125em;
  font-weight: 600;
}
h4 {
  font-size: 1.00em;
  font-weight: 400;
}
img{width: 100%;}

a {
  color: #0D3120;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #0D3120;
}
a:hover {
  color: #ffffff;
  text-decoration: underline; /* Underlining when hovering over a link */
}


a:active { /* selected link */
  color: #7FB19B;
}
a:hover,
a:focus {
  color: #ffffff;
  text-decoration: underline;
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0D3120;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7FB19B; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #0D3120;
  text-transform: uppercase;
  border: 2px solid #0D3120;
}
.button.contact:hover {
  background-color: #0D3120;
  color: #ffffff;
}
.button.resume {
  background-color: transparent;
  color: #0D3120;
  text-transform: uppercase;
  border: 2px solid #0D3120;
}
.button.resume:hover {
  background-color: #0D3120;
  color: #ffffff;
}
header {
  background-color: #DEF2eb;
  padding: 20px;
  margin: 20px;
}
border-bottom: 10px solid #4a4a4a;
